<h2><%= @doctor.name %></h2>

<p>Specialty: <%= @doctor.specialty %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>
<p>University: <%= @doctor.university %></p>

<h4>Patients: </h4>
<ul>
  <% @doctor.patients.each do |patient| %>
    <li id="patient_<%= patient.id %>">
      <%= patient.name %>
      <%= button_to "Delete", doctor_path(@doctor), method: :patch, params: {patient_id: patient.id} %>
    </li>
  <% end %>
</ul>
